header{
	text-align: center;
	background-color: black;
	color: white;
	padding: 1px;
	font-family: verdana;
}

section{
	font-family: verdana;
	background: #34495e;
	padding: 10px;
}

.contuner{
	/*border: 10px solid goldenrod;*/
	min-height: 100vh;
}

body{
	margin: 0px;
  	background-color: #f1f1f1;
}

h2{
	font-size: 1.17em;
	margin: 19px;
}

button{
	font-weight: bold;
	text-decoration: underline;
	width: 100%;
	height: 100%;
	padding:5%;
	background-color: #666666;
	margin: auto;
	left: 0;
	right: 0;
	bottom: 0;
	font-size: 25px;
	color: ivory;
	border-radius: 5px;
	box-shadow: 0px 8px 0px darkmagenta,0px 8px 20px darkgrey;
	transition: all 0.2 ease;
}

button:active{
	box-shadow: none;
}

footer{
	border-top: 2px solid purple;
	text-align: center;
}