.step {
    display: none;
}
.step.active {
    display: block;
}
.step-buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.next{
    border: none;
    background-color: #0071e3;
    color: white;
    box-shadow: inset -5px -5px 10px rgba(0,0,0,0.2) inset 5px 5px 10px rgba(255,255,255,0.2), -5px -5px 10px rgba(0,0,0,0.2), 5px 5px 10px rgba(255,255,255,0.2);

}

.next:hover{
    transform: scale(1.1);
    cursor: pointer;

}

.next:active {
    transform: scale(0.9);
}

.prev{
    margin-bottom: 5px;
    border: none;
    background-color: #4c3a6a;
    color: white;
    box-shadow: inset -5px -5px 10px rgba(0,0,0,0.2) inset 5px 5px 10px rgba(255,255,255,0.2), -5px -5px 10px rgba(0,0,0,0.2), 5px 5px 10px rgba(255,255,255,0.2);
}

.prev:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.prev:active {
    transform: scale(0.9);
}

.sub{
    background-color: dodgerblue;
    color: white;
    box-shadow: inset -5px -5px 10px rgba(0,0,0,0.2) inset 5px 5px 10px rgba(255,255,255,0.2), -5px -5px 10px rgba(0,0,0,0.2), 5px 5px 10px rgba(255,255,255,0.2);
}

.sub:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.sub:active {
    transform: scale(0.9);
}

header {
    text-align: center;
    color: #f5f5f7;
    font-family: verdana;
}

h3{
    text-align: center;
    font-family: verdana;
}

section {
    font-family: verdana;
    background: #f5f5f7;
    padding: 10px;
    color: #161617e0;
}

textarea,input{
    width: 35%;
    padding: 10px;
    border-radius: 5px;
    border: 1.2px solid #c4cae0;
    margin-top: 5px;
}

textarea{
    resize: none;
    width: 70%;
    margin-bottom: 25px;
}

body{
    margin: 0px;
    background: linear-gradient(135deg,#6f6df4,#4c46f5);
}

p{
    margin: auto;
    width: 100%;
}

form{
    align-self: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 20px 30px 25px rgba(0,0,0,0.15);
    width: 80%;
}

.skin{

    display: flex;
    flex-direction: column;
    padding: 10px;

}

footer {
    text-align:center;
    margin-top: auto;
}

.progress{


    /*margin: 50px auto;
    transform-style: preserve-3d;
    transform: rotateX(-20deg) rotateY(-30deg);*/
}
progress {
    -webkit-appearance: none;
    width: 100%;
    height: 35px;
    border-radius: 1.5em;
    margin-top: 15px;
}

progress::-webkit-progress-bar {
    border-radius: 1.5em;
    background-color: #bbb;
}

progress::-webkit-progress-value {
    background-color: #1c7ac0;
    border-radius: 1.5em;

fields1{
   align-content: center;
}